<div class="container">
    <div class="r">
    </div>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <h1 class="header">Giriş Yap</h1>
        <div class="box" style="margin-bottom: 156px;">
            <div class="box">
                <input type="email" class="input" id="email" formControlName="email" required>
                <label for="email" class="placeholder">Email</label>
                @if(form.get("email")?.hasError('email') && form.get("email")?.touched){
                <p class="err">Lütfen mail adresinizi doğru formatta giriniz</p>
                }
                @if(form.get("email")?.hasError('required') && form.get("email")?.touched){
                <p class="err">Boş geçilemez</p>
                }
            </div>
            <div class="box">
                <input type="password" class="input" id="password" formControlName="password" name="password" required>
                <label for="password" class="placeholder">Şifre</label>
                @if(form.get("password")?.hasError('required') && form.get("password")?.touched){
                <div class="err">Boş geçilemez</div>
                }@if(form.get("password")?.hasError('minlength') && form.get("password")?.touched){
                <div class="err">En az 6 karakter</div>
                }
            </div>


        </div>
        <div class="box">
            <button class="button" type="submit" [disabled]="!form.valid">Giriş Yap</button>
            <a class="button2" routerLink="/register">Kayıt Ol</a>
        </div>
    </form>
</div>